{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home:home' %}">Home</a>
                    <span class="breadcrumb-item active">Contact</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="mr-auto">
            <div class="">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                <div class="bg-light p-30 mb-5">
                    <form method="post">
                    <div class="row">

                            {% csrf_token %}
                        <div class="col-md-6 form-group">
                            <label>phone</label>
                            {{ form.phone|attr:"class:form-control"}}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            {{ form.email|attr:"class:form-control" }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            {{ form.address|attr:"class:form-control" }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Postal Code</label>
                            {{ form.post_code|attr:"class:form-control" }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Full name</label>
                            {{ form.fullname|attr:"class:form-control" }}
                        </div>
                    </div>
                        <button type="submit" class="form-control btn btn-primary">send</button>
                        {{ form.errors }}
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
{% endblock content %}
