{% load static %}
{% load render_partial  %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
</head>
<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- Header -->
<header class="">
    {% include 'includes/header.html' %}

    {% render_partial 'product:navbar' %}



{% block content %}


{% endblock %}


<footer>
    {% include 'includes/footer.html' %}
</footer>
{% include 'includes/scripts.html' %}

</body>
</html>


